[Desktop Entry]
Encoding=UTF-8
Categories=Utility;
Comment=Countdown timer for time-boxed Scrum ceremonies
Exec=schisaciaccole
Icon=schisaciaccole
Name=Schisaciaccole
Terminal=false
Type=Application
